<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">FFSDataBase</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Исследователь", controller: 'researchers'  %>
            </li>
            <li>
              <%= link_to "Прибор",    controller: 'devices' %>
            </li>
            <li>
              <%= link_to "Образец",    controller: 'samples' %>
            </li>
            <li>
              <%= link_to "Измерение",    controller: 'measurements' %>
            </li>
            <li>
              <%= link_to "Группа измерений",    controller: 'measurement_groups' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
  <small>
    Created by
    <a href="http://vk.com/id89261448">Kardashov Dmitry</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Исследователь",    controller: 'researchers' %></li>
      <li><%= link_to "Прибор",    controller: 'devices' %></li>
      <li><%= link_to "Образец",    controller: 'samples' %></li>
      <li><%= link_to "Измерение",    controller: 'measurements' %></li>
      <li><%= link_to "Группа измерений",    controller: 'measurement_groups' %></li>

    </ul>
  </nav>
</footer>

  </body>
</html>




